parameters:
    level: 1
    paths:
        - src
        - tests

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    stubFiles:
        - stubs/dom.stub

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
