parameters:
    level: 4
    paths:
        - src
        - tests

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

services:
    -
        class: Readability\Maintenance\PHPStan\DOMDocumentGetElementDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Readability\Maintenance\PHPStan\DOMDocumentGetElementsDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Readability\Maintenance\PHPStan\DOMElementGetElementsDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
